<div class="w-4/5 border-thin border-primary">
  <mat-list #japanese_output>
    <h1 matListItemTitle lang="ja" class="text-accent w-full text-center text-xl font-bold text-bold border-primary border-thin border-0 border-b-2 pb-3">日本語</h1>
    <mat-list-item [lines]="3" color="accent" lang="ja" [disableRipple]="true">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro unde at, consequuntur possimus officiis quis nesciunt veniam fuga atque aut, quasi itaque rerum optio eius exercitationem necessitatibus? Aperiam, aliquam similique?
      </p>
    </mat-list-item>
  </mat-list>
</div>
