@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:host {
  font-family: 'Patrick Hand';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-root{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}


*[lang=ja] {
  font-family: 'Kosugi Maru' !important;
}

* {
  font-family: 'Patrick Hand', 'Kosugi Maru', Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
  white-space: normal;
}

.mdc-text-field {
  background-color: transparent !important;
}

.border-thin {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  border:solid 2px;
}
.border-thick {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;
  border: solid 3px;
}

.border-primary{
  border-color: #795548;
}
.border-accent{
  border-color: #D7CCC8;
}
.text-primary{
  color: #795548;
}
.text-accent{
  color: #D7CCC8;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

